@import '../../../../../themes/responsive.theme.scss';

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 16px;
}

.activities-list-container {
  padding: 16px;

  & .mat-card-container{
    height: 100%;
  }
}

.mat-card-actions {
  margin: 0;
  padding: 0;
  &:last-child{
    margin: 0;
    padding: 0;
  }
}

.mat-card-header {
  position: relative;
}

.favorite-container {
  position: absolute;
  top:0;
  right: 0;
}

.toggle-favorite-link {
  text-decoration: none;
}

.no-fav-icon {
  color: rgba(0,0,0,0.87);
}

.no-fav-icon:hover {
  color: rgba(0,0,0,0.54);
}

.fav-icon {
  color: rgba(255,25,0,0.87);
}
  
.fav-icon:hover {
  color: rgba(255, 25, 0, 0.54);
}

// .card-title {
//   text-align: center;
// }

// .mat-card {
//   padding: 16px 32px;
//   width: 95%;
// }

// .mat-card-title {
//   text-align: center;
//   margin-bottom: 16px;
// }

// .mat-card-content {
//   margin: 0;
// }

// .mat-table {
//   width: 100%;
//   padding-bottom: 10px;
// }


// .action-icon {
//     color: rgba(0,0,0,0.87);
//     &:hover {
//       color: rgba(0, 0, 0, 0.54);
//     }
// }

// .action-link {
//     text-decoration: none;
//     margin: 0 8px 0 0;

//     &:last-child {
//       margin: 0;
//     }

// }
