@import '~@angular/material/theming';
@import "./light-variables.theme.scss";
@import './app.theme.scss';

@include mat-core();

$activitats-light-app-theme: mat-light-theme((
  color: (
    primary: $activitats-light-app-primary,
    accent: $activitats-light-app-accent,
    warn: $activitats-light-app-warn,  
  )
));

@include angular-material-theme($activitats-light-app-theme);

/* add custom themes below */
@include app-theme($activitats-light-app-theme);