<div class="education-container" *ngIf="(userState$ | async).loaded; else loading">
  <mat-card class=" mat-elevation-z4">
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-content>
      <mat-table [dataSource]="educations$">

        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="level">
          <mat-header-cell *matHeaderCellDef>Level</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.level}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="university">
          <mat-header-cell *matHeaderCellDef>University</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.university}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="finishDate">
          <mat-header-cell *matHeaderCellDef>Finish Date</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.finishDate}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
          <mat-cell *matCellDef="let element; let i = index">
            <a class="action-link" [routerLink]="" (click)="updateEducation(i)">
              <mat-icon class="action-icon">edit</mat-icon>
            </a>
            <a class="action-link" [routerLink]="" (click)="deleteEducation(element)">
              <mat-icon class="action-icon">delete</mat-icon>
            </a>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" (click)="createEducation()">
        New Education
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<ng-template #loading>
  <div class="education-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>