@import '../../../../../themes/responsive.theme.scss';

.activities-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 16px;
}

// .card-title {
//   text-align: center;
// }

.mat-card {
  padding: 16px 32px;
  width: calc(100% - 64px);

  @include screen('md'){
    width: 70%;
  }

  @include screen('xl'){
    width: 45%;
  }
}

.mat-card-header{
  display: block;
  position: relative;
  & .mat-card-title {
    font-size: 24px;
  }
}

.favorite-container {
    position: absolute;
    top:0;
    right: 0;
}

.mat-card-title {
  // text-align: center;
  margin-bottom: 16px;
}

.mat-card-content {
  margin: 0;
}

.activity-tooltip {
  font-size: 1.1rem;
  color: rgba(0,0,0,0.54);
}

.price {
  font-weight: 700;
}

.activity-item {
  font-size: 1.2rem;
}

.activity-detail-row {
  margin-bottom: 1rem;

}

.mat-card>.mat-card-actions {
  text-align: center;
  margin: 0;
  padding: 8px 0;

  &:last-child {
    padding: 8px 0;
    margin: initial;
  }
}

.material-icons.md-36 { font-size: 32px; }

.toggle-favorite-link {
    text-decoration: none;
}

.no-fav-icon {
    color: rgba(0,0,0,0.87);
}

.no-fav-icon:hover {
    color: rgba(0,0,0,0.54);
}

.fav-icon {
    color: rgba(255,25,0,0.87);
}
    
.fav-icon:hover {
    color: rgba(255, 25, 0, 0.54);
}

.no-activity-selected-tooltip {
    margin: 15px 0;
    text-align: center;
}
