<div class="activities-details-container" *ngIf="(activityState$ | async).activityToShow">
  <mat-card class=" mat-elevation-z4" *ngIf="(activityState$ | async).loaded; else loading">
    <mat-card-header>
      <mat-card-title>{{activity.name}}</mat-card-title>
      <mat-card-subtitle>{{activity.date}} </mat-card-subtitle>
      <div *ngIf="user && user.type !== 'company' && activity" class="favorite-container">
        <a class="toggle-favorite-link" [routerLink]="" (click)="toggleFavorite()">
          <mat-icon *ngIf="!favorite" class="material-icons md-36 no-fav-icon">
            favorite_border
          </mat-icon>
          <mat-icon *ngIf="favorite" class="material-icons md-36 fav-icon">
            favorite
          </mat-icon>
        </a>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row wrap" fxLayoutGap="grid">
        <div class="activity-detail-row" fxFlex="100%" fxFlex.gt-sm="50%">
          <span class="activity-tooltip">Category:</span>
          <span class="activity-item"> {{activity.category}}</span>
        </div>
        <div class="activity-detail-row" fxFlex="100%" fxFlex.gt-sm="50%">
          <span class="activity-tooltip">Subcategory:</span>
          <span class="activity-item"> {{activity.subcategory}}</span>
        </div>
      </div>
      <div class="activity-detail-row">
        <span class="activity-tooltip">Description:</span>
        <span class="activity-item"> {{activity.description}}</span>
      </div>
      <div class="activity-detail-row">
        <span class="activity-tooltip">Language:</span>
        <span class="activity-item"> {{activity.language}}</span>
      </div>
      <div fxLayout="row wrap" fxLayoutGap="grid">
        <div class="activity-detail-row" fxFlex="100%" fxFlex.gt-sm="50%">
          <span class="activity-tooltip">Minium capacity:</span>
          <span class="activity-item"> {{activity.miniumCapacity}}</span>
        </div>
        <div class="activity-detail-row" fxFlex="100%" fxFlex.gt-sm="50%">
          <span class="activity-tooltip">Maxium capacity:</span>
          <span class="activity-item"> {{activity.maxCapacity}}</span>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayoutGap="grid">
        <div class="activity-detail-row" fxFlex="100%" fxFlex.gt-sm="50%">
          <span class="activity-tooltip">People registered:</span>
          <span class="activity-item"> {{activity.participatingUsers.length}}</span>
        </div>
        <div class="activity-detail-row" fxFlex="100%" fxFlex.gt-sm="50%">
          <span class="activity-tooltip">Status:</span>
          <span class="activity-item"> {{status}}</span>
        </div>
      </div>
      <div class="activity-detail-row">
        <span class="activity-tooltip">Price:</span>
        <span class="activity-item price"> {{activity.price}} €</span>
      </div>

    </mat-card-content>
    <mat-card-actions *ngIf="user && user.type !== 'company' && activity">
      <button mat-raised-button color="primary" *ngIf="!activity.participatingUsers.includes(user.id)" type="submit"
        (click)="signUp()" [disabled]="status != 'Available'">
        Sign up
      </button>
      <button mat-raised-button color="primary" *ngIf="activity.participatingUsers.includes(user.id)" type="submit"
        (click)="signOut()">
        Sign out
      </button>
    </mat-card-actions>
  </mat-card>

  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>

</div>