<div class="admin-activities-crud-container" *ngIf="(activitiesState$ | async).loaded; else loading">
  <mat-card class=" mat-elevation-z4">
    <mat-card-title>{{title}}</mat-card-title>
    <form [formGroup]="activityForm" (ngSubmit)="handleActivityForm()">
      <mat-card-content>
        <section>
          <mat-form-field appearance="outline">
            <mat-label for="name">Name</mat-label>
            <input matInput type="text" name="name" formControlName="name">
            <mat-error *ngIf="name.invalid && name.dirty && name.value ===''">
              Username is Mandatory
            </mat-error>
            <mat-error *ngIf="name.dirty && name.invalid && name.value.length<3 && name.value.length>0">
              Username has to be greater than 2 characters
            </mat-error>
            <mat-error *ngIf="name.dirty && name.invalid && name.value.length>55">
              Username has to be lesser than 56 characters
            </mat-error>
          </mat-form-field>
        </section>
        <section>
          <mat-form-field appearance="outline">
            <mat-label for="category">Category</mat-label>
            <mat-select formControlName="category" name="category" [value]="activity?.category">
              <mat-option *ngFor="let cat of categoryTypes" [value]="cat">
                {{cat}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="category.invalid && category.dirty">
              Category is mandatory
            </mat-error>
          </mat-form-field>
        </section>
        <section>
          <mat-form-field appearance="outline">
            <mat-label for="subcategory">Subcategory</mat-label>
            <mat-select formControlName="subcategory" name="subcategory" [value]="activity?.subcategory">
              <ng-container *ngIf="category.value === CATEGORY_TYPES.cultura">
                <mat-option *ngFor="let culture of subcategoryCulture" [value]="culture">
                  {{culture}}
                </mat-option>
              </ng-container>
              <ng-container *ngIf="category.value === CATEGORY_TYPES.enoturisme">
                <mat-option *ngFor="let eno of subcategoryEnoturisme" [value]="eno">
                  {{eno}}
                </mat-option>
              </ng-container>
              <ng-container *ngIf="category.value === CATEGORY_TYPES.platges">
                <mat-option *ngFor="let beach of subcategoryBeach" [value]="beach">
                  {{beach}}
                </mat-option>
              </ng-container>
            </mat-select>
            <mat-error *ngIf="subcategory.invalid && subcategory.dirty">
              Subcategory is mandatory
            </mat-error>
          </mat-form-field>
        </section>
        <section>
          <mat-form-field appearance="outline">
            <mat-label for="description">Description</mat-label>
            <textarea matInput name="description" formControlName="description"></textarea>
          </mat-form-field>
        </section>
        <section>
          <mat-form-field appearance="outline">
            <mat-label for="language">Language</mat-label>
            <mat-select formControlName="language" name="language" [value]="activity?.language">
              <mat-option *ngFor="let lang of languages" [value]="lang">
                {{lang}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="language.invalid && language.dirty">
              Language is mandatory
            </mat-error>
          </mat-form-field>
        </section>
        <section>
          <mat-form-field appearance="outline">
            <mat-label for="date">Date</mat-label>
            <input matInput type="text" name="date" formControlName="date">
            <mat-error *ngIf="date.dirty && date.invalid">
              Finish date has to be in DD/MM/YYYY format
            </mat-error>
          </mat-form-field>
        </section>
        <section>
          <mat-form-field appearance="outline">
            <mat-label for="price">Price</mat-label>
            <input matInput type="text" name="price" formControlName="price">
            <mat-error *ngIf="price.dirty && price.invalid">
              Price has to be numeric and greater than 0
            </mat-error>
          </mat-form-field>
        </section>
        <section>
          <mat-form-field appearance="outline">
            <mat-label for="miniumCapacity">Minium capacity</mat-label>
            <input matInput type="text" name="miniumCapacity" formControlName="miniumCapacity">
            <mat-error *ngIf="miniumCapacity.dirty && miniumCapacity.invalid">
              Minium capacity has to be numeric and greater than 0
            </mat-error>
          </mat-form-field>
        </section>
        <section>
          <mat-form-field appearance="outline">
            <mat-label for="maxCapacity">Maxium capacity</mat-label>
            <input matInput type="text" name="maxCapacity" formControlName="maxCapacity">
            <mat-error *ngIf="maxCapacity.dirty && maxCapacity.invalid">
              Maxum capacity has to be numeric and greater than 0
            </mat-error>
            <mat-error *ngIf="activityForm.errors?.maxCapacityValidationResult">
              Max capacity has to be equal or greater than minium capacity
            </mat-error>
          </mat-form-field>
        </section>
        <section>
          <mat-form-field appearance="outline">
            <mat-label for="status">Activity status</mat-label>
            <mat-select formControlName="state" name="status" [value]="activity?.state">
              <mat-option [value]="ACTIVITY_STATUS.available">Available</mat-option>
              <mat-option [value]="ACTIVITY_STATUS.cancelled">Cancelled</mat-option>
            </mat-select>
            <mat-error *ngIf="state.invalid && state.dirty">
              Status is mandatory
            </mat-error>
          </mat-form-field>
        </section>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="!activityForm.valid">{{buttonTag}}</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>

<ng-template #loading>
  <div class="admin-activities-crud-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>